<html>
    <head>
        <title>Página de Login</title>
        <meta charset="UTF-8">
        <link href="{{ url_for ('static', filename='login.css')}}" rel="stylesheet">
    </head>

    <body>
    <div id = "main">


        <img src="../../static/imagens/logo.png" alt="Minerva" class= "main-image">


        <form method="POST"> 
            <!---->
        <!--<div class= "text">  -->
            <label for="cpf" class="">CPF:</label><br>
            <input type="text" id="cpf" name="cpf" class="input"><br><br>
            
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" class="input"><br><br>
        <!--</div>  -->
            <input type="submit" value="Entrar" class= "button"> 
        </form>
        
        <h4>Ainda não possui cadastro?</h4>
    
        <form action="/cadastroaluno" method="GET">
        
            <input class = "button" type="submit" value="Cadastrar novo aluno">
        </form>
        <h5 id= "or">ou</h5>
        <form action="/cadastroprofessor" method="GET">
        
            <input class = "button" type="submit" value="Cadastrar novo professor">
        </form>

         
    </div>   
    </body>
</html>
