<html>
    <head>
        <title>Minhas Disciplinas</title>
        <meta charset="UTF-8">
        <link href="{{ url_for ('static', filename='materias.css')}}" rel="stylesheet">
    </head>

    <body>
  
        <div id = "header">
            <img src="../../static/imagens/logo.png" alt="Minerva" class= "m-image">
            <div  id= "p">
                <div id= "profile-box">
                    <p id = "profileName">{{current_user.nome}}</p>
                </div>

                <a href="/logout" id= "leave">
                    <img src="../../static/imagens/logout (1) 1.png" alt="leave">

                </a>
            </div>
        </div>  

        <div id = "main">
        <div id= "header2">
           <h1>Minhas Disciplinas</h1>
           <div id = "search">
                <p id = "profileName">Pesquisar:</p>
                <input type="text" class="input">
                <input type = "submit" id = "button" value="Buscar">
            </div> 
        </div>
        <div id = "materias">
           
           
           
            {% if current_user.classe == 1 %}
                <a href='/criardisciplina'>
                <div class ="materia-container" id = "ad">
                    <p id="profileName">Criar disciplina</p>  
                </div>
                </a>
            {% else %} 
                <a href='/inscricaodisciplina'>
                    <div class ="materia-container" id = "ad">
                        <p id="profileName">Inscrição disciplina</p>  
                    </div>
                </a>
            {% endif %}
            
            {% if current_user.classe == 1 %}
            {%for materia in materias %}
            <a href = '/materia/{{materia.id}}'><div class="materia-container" id="ad" ><p class="profileName">   {{materia.materia}}   </p></div></a>
            {% endfor %}
            {% else %}
            {%for materia in inscricoes.criardisciplina %}
            <a href = '/materia/{{materia.id}}'><div class="materia-container" id="ad" ><p class="profileName">   {{materia.materia}}   </p></div></a>
            {% endfor %}
            {% endif %}
        </div>
        
        </div>

    </body>
</html>
