<html>
    <head>
        <title>{{videos.nome}}</title>
        <meta charset="UTF-8">
        <link href="{{ url_for ('static', filename='video.css')}}" rel="stylesheet">
    </head>

    <body>
  
        <div id = "header">
            <img src="../../static/imagens/logo.png" alt="Minerva" class= "m-image">
            <div  id= "p">
                <div id= "profile-box">
                    <p id = "profileName">{{current_user.nome}}</p>
                </div>

                <a href="/logout" id= "leave">
                    <img src="../../static/imagens/logout (1) 1.png" alt="leave">

                </a>
            </div>
        </div>  
        
        <div id = "main">
             <div>
                <a href='/materia/{{videos.criardisciplina_id}}'> 
                <img src="../../static/imagens/Group (1).png" alt="Minerva" class= "arrow-image">
                </a>
            </div>
        <div id= "header2">
        
            <h1>{{videos.nome}}</h1>
           
        </div>
   
           

            <div class ="materia-container">

                <iframe width="675,5" height="380" src={{videos.link}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
   

        </div>

    </body>
</html>
