<html>
    <head>
        <title>Aula 1</title>
        <meta charset="UTF-8">
        <link href="{{ url_for ('static', filename='video.css')}}" rel="stylesheet">
    </head>

    <body>
  
        <div id = "header">
            <img src="../../static/imagens/logo.png" alt="Minerva" class= "m-image">
            <div  id= "p">
                <div id= "profile-box">
                    <img src="../../static/imagens/profile-user (1) 1.png" alt="profile" id= "profile">
                    <p id = "profileName">Aluno</p>
                </div>

                <a href="/logout" id= "leave">
                    <img src="../../static/imagens/logout (1) 1.png" alt="leave">

                </a>
            </div>
        </div> 

        <div id = "main">
        <div id= "header2">
            <img src="../../static/imagens/Group (1).png" alt="Minerva" class= "arrow-image">
           <h1>Aula 1 - Introdução</h1>
        
        </div>
   
           

            <div class ="materia-container">

                <iframe width="675,5" height="380" src="https://www.youtube.com/embed/b_8fISXUBF0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
   

        </div>

    </body>
</html>
