body{
    background-color: rgb(33, 33, 33);
    padding: 0;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
#header {
height: 9%;
width: 100%;
background-color: #000;
display: flex;
align-items: center;
border-bottom: 1px solid #111111; 
justify-content: space-between;
}

.m-image {
height: 60%;
width: 11%;
margin-left: 2%;

}
#profileName {
    color: #F5f5f5;
    font-weight: bold;
    font-size: 14px;
}
#p {
    display: flex;
    width: 20%;
    height: 100%;
}

#leave {
    width: 11%;
    height: 50%;
    align-self: center;
}
#profile-box {
    height: 100%;
    width: 50%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#profile {
    width: 28%;
    height: 60%; 
}

#main {
    background-color: #000;
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 400px;
    margin-top: 35px;

}
h1 {
    color: #e5e5e5;
    font-size: 24px;
    padding-top: 2%;
    padding-left: 4%;
    
}
.input {
    background-color: rgb(33, 33, 33) ;
    outline: 0;
    border-width: 1px;
    color: #c4c4c4;
    border-radius: 8px;
    width: 70%;
    height: 25px; 
    padding-left: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

#header2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}
#search {
    display: flex;
    width: 30%;
    align-items: center;
}
.input:focus {
    border-width: 3%;
    border-color: #e5e5e5;
}
.button {
    background-color: rgb(225,8,17);
    outline: none;
    border-width: 0;
    width: 20%;
    height: 25px;
    border-radius: 5px;
    color:#e5e5e5;
    font-weight: bold; 
    margin-left: 200px;

}

.button:hover {
    background-color: rgb(255, 149, 149);
    
}
#materias {

    width: 40%;
    height: 22%;
    display: flex;
    justify-content: center;
    margin-left: 1.15%;
    margin-bottom: 3%;
}
.materia-container {
    width: 17%;
    height: 100%; 
    background-color: #f5f5f5;

}
#ad {
    background-color: rgb(42,34,93);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ad:hover {
    background-color: rgb(42,34,93,0.7);
}
#plus {
    width: 13%;
    height: 20%;  
    margin-top: 15%;
}
.arrow-image {
height: 4%;
width: 4%;
margin-top: 5%;
margin-left: -90%;

}

.text {
    margin-left: 100px;
    margin-top: 30px;
}