<html>
    <head>
        <title>Minhas Disciplinas</title>
        <meta charset="UTF-8">
        <link href="{{ url_for ('static', filename='disciplina.css')}}" rel="stylesheet">
    </head>

    <body>
  
        <div id = "header">
            <img src="../../static/imagens/logo.png" alt="Minerva" class= "m-image">
            <div  id= "p">
                <div id= "profile-box">
                    <p id = "profileName">{{current_user.nome}}</p>
                </div>

                <a href="/logout" id= "leave">
                    <img src="../../static/imagens/logout (1) 1.png" alt="leave">

                </a>
            </div>
        </div>  

        <div id = "main">
            <div>
                <a href="/materia"> 
                <img src="../../static/imagens/Group (1).png" alt="Minerva" class= "arrow-image">
                </a>
            </div>
            <div id= "header2">
                <h1>{{materia.materia}}</h1> 
            </div>
            <div id = "info"><p>Código da disciplina: {{materia.codigo_materia}} | Período: {{materia.periodo}}</p></div>
            <div id = "videos">
            
                {% if current_user.classe == 1 %}   
                   
                        <a href='/video/create/{{materia.id}}'>
                            <div class ="materia-container" id = "ad">
                            <img src="../../static/imagens/plus (2) 1 (1).png" alt="leave" id= "plus">
                            <p id="profileName">Adicionar Vídeo</p>
                        </div>
                        </a>    
                    
                {% endif %} 
       
                {% for video in videos %}
                    
                    <a href = '/video/{{video.id}}' class="materia-container1">

                        <div class = "info-container1">
                            <h4 id ="infodd">{{video.nome}}</h4>
                            <p id ="infoddd">Descrição:</p> 
                            <p id ="infod">{{video.descricao}}</p>
                        </div> 
                    </a>
            
                {% endfor %}
                    
            </div>     
        </div>

    </body>
</html>
