<html>
    <head>
        <title>Página de Login</title>
        <meta charset="UTF-8">
        <link href="{{ url_for ('static', filename='cadastro_professor.css')}}" rel="stylesheet">
    </head>

    <body>
    <div id = "main">
        <div>
        <a href="/login"> 
        <img src="../../static/imagens/Group (1).png" alt="Minerva" class= "arrow-image">
        </a>
        </div>
        <img src="../../static/imagens/logo.png" alt="Minerva" class= "main-image">


        <form action="/cadastroprofessor" method="POST">
        <div class= "text"> 
            <label for="nome" class="">Nome:</label><br>
            <input class = "input" type="text" id="nome" name="nome"><br><br>
        
            <label for="cpf" class="">CPF:</label><br>
            <input class = "input" type="text" id="cpf" name="cpf"><br><br>

            <label for="email" class="">E-mail:</label><br>
            <input class = "input" type="text" id="email" name="email"><br><br>

            <label for="SIAPE" class="">SIAPE:</label><br>
            <input class = "input" type="text" id="siape" name="siape"><br><br>
            
            <label for="senha">Senha:</label><br>
            <input  class = "input" type="password" id="senha" name="senha"><br><br>

        </div>  
            <input class = "button" type="submit" value="Cadastrar">
        </form>
        
    
    </div>   
    </body>
</html>
